.button:hover {
  opacity: 1;
}

.button {
  background: #3aa8c2;
  opacity: 0.8;
  border: none;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  font-family: 'Crimson Pro', serif;
  font-size: 27px;
  height: 72px;
  width: 100%;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.6, 0, 0.4, 1);
  background-size: 200%;
  text-transform: uppercase;
}
