.preLoaderWrapperVisible {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s linear, visibility 0.2s linear 0.3s;
    height: 100vh;
    width: 100vw;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    background: rgb(247, 247, 247);
}

.preLoaderWrapperHidden {
    z-index: 9999;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s linear, visibility 0.2s linear 0.3s;
    height: 100vh;
    width: 100vw;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    background: rgb(247, 247, 247);
}
